<div class="container">
  <div class="row">
    <div class='col-md-2'>
          <p id="notice"></p>
    </div>
    
      <div class='col-md-10'>
        <div class="card" style="max-width: 500px;">
          <%= image_tag "top.jpg" %><!--<img class="card-img" image_tag src='../../../assets/images/top.jpg' alt=''>-->
          <div class="card-img-overlay">
            <p class="text-center text-black">
              </br></br></br>
              ようこそ、ながのCAKEへ！</br>
              このサイトは、ケーキ販売のECサイトになります。</br>
              会員でない方も商品の閲覧ができますが、</br>
              購入には会員登録が必要になります。
            </p>
          </div>
        </div>
        <h2><strong>新着商品</strong></h2>
      </div>
      
      
        
      </div>
    </div>
  </div>
