<div class = "container">
    <div class = "row">
        <div class = "col-md-12">
            <h3>ジャンル編集</h3>

            <p>ジャンル名</p>
            <%= form_with model:@genre,url: edit_admin_genre_path,method: :patch do |f| %>
            <%= f.text_field:name %>
            <%= f.submit '変更を保存',class:"btn btn-sm btn-success" %>
            <% end %>

        </div>
    </div>
</div>