<div class="container">
    <div class="row">
      <div class="mainContents col-sm-12 col-sm-push-4 col-md-12 col-md-push-4">
        <div class="row">
        </div>
        <h4 class="subtitle mx-auto">ご注文完了</h4>
        <h4 class="thankstext text-center">ご注文ありがとうございました</h4>
        <p class="text-center">
          ただいま、ご注文の確認メールをお送りさせていただきました。<br/>
          万一、ご確認メールが届かない場合は、<br/>
          大変お手数ではございますがもう一度お問い合わせいただくか、お電話にてお問合せくださいませ。<br/>
          今後ともご愛顧賜りますようよろしくお願い申し上げます。
        </p>
        <div class="topbutton text-center">
          <%= link_to "Topページへ", root_path, class: "form-button"%>
        </div>
      </div>
    </div>
</div>